﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title></title>
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="lib/toastr/toastr.css" rel="stylesheet" />
</head>
<body ng-app="app">


    <div class="container" ng-controller="customerController">

        <div class="panel panel-primary">

            <div class="panel-heading">
                <h2>Customers</h2>
            </div>

            <div class="panel-body">
                <div class="row">
                    <button ng-click="openHtmlClient()" class="btn btn-primary">Html Client</button>
                    <button ng-click="addOrEdit()" class="btn btn-primary">Add</button>
                    <button ng-click="saveChanges()" class="btn" ng-class="{'btn-danger': hasChanges(), 'btn-primary':!hasChanges()}" ng-disabled="!hasChanges()">Save</button>
                </div>

                </div>
                <div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <td>Edit</td>
                                <td>Last Name</td>
                                <td>First Name</td>
                                <td>Full Name</td>
                                <td>Created</td>
                                <td>Modified</td>
                                <td>Delete Undo </td>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in items">
                                <td>
                                    <button title="Edit" ng-click="addOrEdit(item)" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
                                </td>
                                <td>{{item.lastName}}</td>
                                <td>{{item.firstName}}</td>
                                <td>{{item.fullName}}</td>
                                <td>{{item.created | date: 'yyyy-MM-dd HH:mm'}}</td>
                                <td>{{item.modified |date: 'yyyy-MM-dd HH:mm'}}</td>
                                <td>
                                    <button title="Delete" ng-click="delete(item)" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span></button>

                                    <button title="Undo changes" ng-show="isUndoable(item)" ng-click="undoChanges(item)" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-arrow-left"></span>
                                    </button>

                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body">
                <p>I'm a modal</p>
                <!--<ul>
                    <li ng-repeat="item in items">
                        <a ng-click="selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>-->
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
    <!--lib-->
    <script src="lib/datajs/datajs-1.1.2.js"></script>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/breezejs/breeze.debug.js"></script>
    <script src="lib/breezejs/labs/breeze.angular.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/toastr/toastr.js"></script>
    <script src="lib/underscore/underscore.js"></script>
    <!--app specific-->
    <script src="app.js"></script>
    <script src="appServices/logger.js"></script>
    <!--<script src="appServices/entityExtensions.js"></script>-->
    <script src="customer/customerController.js"></script>
    <script src="appServices/entityManagerFactory.js"></script>
    <script src="customer/customerEditController.js"></script>
    <script src="appServices/appService.js"></script>
    <script src="customer/customerService.js"></script>
</body>

</html>
