﻿
<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit Customer</h3>
    </div>
    <div class="modal-body">
        <!--todo use latest angular way of doing forms....-->
        <!--<input type="text" ng-model="item.firstName"  placeholder="First Name"  required />-->

        <form name="customerEdit" class="form-horizontal" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label col-md-2" for="lastName">Last Name</label>
                    <div class="col-md-4">
                        <input name="lastName" type="text" ng-model="item.lastName" class="form-control"
                               placeholder="Last Name" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="firstName">First Name</label>
                    <div class="col-md-4">
                        <input name="firstName" type="text" ng-model="item.firstName" class="form-control"
                               placeholder="First Name" required />
                    </div>
                </div>
            </fieldset>

        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="customerEdit.$invalid || isUnchanged(item)" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>

